[package]
name = "metadata_integrations"
version = "0.0.8"
edition = "2021"

[dependencies]
async-trait = { workspace = true }
reqwest = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }
